.form{
    padding: 10px;
}
.form-field{
    margin: 10px 0;
}
.form-field input{
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}
.form-field textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}
.form-field label{
    font-size: 18px;
    font-weight: 500;
}